*{
    margin: 0px;
}
body{
    background: rgb(red, green, blue);
    height: 637px;
}
.main{
    position: absolute;
    top: 0px;
    left: opx;
    transform: translateX(-50) translateY(-50%);
    width: fixed;
    background: blueviolet;
    padding: 25px;
    border-radius: 15px;
}
.main h2 {
    text-align: center;
    color: bisque;
}
.button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background:#607d8b;
    color: rgb(0, 0, 0,);
    border-radius: 25px;
}
.btn-green {
    background: rgb(2, 2, 2,);
    color: aqua;
}
.textarea {
    width: 204;
    padding: 10px;
    color: blue;
    border-radius: 25px;
}